<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>

    <link rel="stylesheet" href="../styles/home.css">
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/modal.css">
    <link rel="stylesheet" href="../styles/dropdown.css">
    <link rel="stylesheet" href="../styles/edit-modal.css">

    <%- include("partials/header.ejs") %>

    <div class="entrance">
        <div class="banner-content"><p>Welcome To My Blog!</p></div>
        <div class="banner-img"><img src="../assests/imgs/Banner.png"></div>
    </div>
</header>
<div class="grid-container">

    <!-- gönderdiğim posts dizisi buraya geliyor bu sayfada birebir kullanmasam da include ettiklerim de o verilere ulaşabilir
     ben de gönderdiğim verileri item.ejs'de bulunan kodlara eklemek istiyorum. -->
    <%- include("partials/item.ejs") %>
</div>

<%- include("partials/modal.ejs") %>
<%- include("partials/edit-modal.ejs") %>
<%- include("partials/footer.ejs") %>